*{
    margin: 0;
    padding: 0;
}

#h1{
    background-color: rgb(4, 4, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: #fff;
}

#game{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap : 6rem;
}

.user_click{
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 50%;
}


.user_click:hover{
    opacity: 0.5;
    object-fit: cover;
    cursor: pointer;
}

.user_click:active{
    height: 15rem;
    width: 15rem;
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top : 3rem ;
    gap : 10rem;
}

.scores{
    font-size: 4rem;
}

#you{
    font-size: 1.2rem;
}

#comp{
    font-size: 1.2rem;
}

#last{
    margin: 4rem;
    display: flex;
    justify-content: center;
}
#result{
    padding: 0.8rem;
    display: inline-block;
    background-color: rgb(4, 4, 58);
    color: #fff;
}